/*Начальная страница*/
.shapka{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.top_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}
header{
    background: lavender;
}
a{
    text-align: left;
}
.header_nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 18px;
    color: black;
    font-weight: 400;
}
.header_nav a{
    text-decoration: none;
    color: inherit;
}
.header_nav ul{
    display: flex;
}
.header_nav ul li{
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    line-height: 50px;
    transition: background 150ms ease-in-out;
}
.header_nav ul li:hover{
    background: indigo;
    color: white;
    transition: background 150ms ease-in-out;
}
.bottom_line{
    text-align: left;
    padding-top: 300px;
    padding-bottom: 350px;
    margin-left: 60px;
    font-size: 16px;  
}
.bottom_line p{
    font-size: 24px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 30px;
}
.scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }

/*Всплывающее меню*/
.name1 {
    background-color: lavender;
    color: black;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}
.name2{
    border: none;
    font-size: 18px;
    line-height: 50px;
    color: black;
    font-weight: 400;
}
.name3 {
    display: none;
    position: absolute;
    background-color: lavender;
    box-shadow: 0px 8px 16px 0px black;
}
.name3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.name1:hover .name3 {display: block;}
.header_nav.a:hover{
    background: indigo;
    color: white;
}
.name3 a:hover{
    color: midnightblue;
}

/*Фильмы*/
section.films{
    background: LavenderBlush;
    padding: 120 0;
    text-align: center;
}
.films h2{
    font-size: 25px;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    padding-top: 50px;
    font-style: italic;
}
.soderjanie{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
section.films img{
    height: 400px;
    padding-top: 50px;
    width: 100%;
}
.soderjanie{
    padding-bottom: 50px;
    background-color: LavenderBlush;
    vertical-align: middle;
}
.films h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Книги*/
section.books{
    background: LightCyan;
    padding: 120 0;
    text-align: center;
}
.books h2{
    font-size: 25px;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    padding-top: 50px;
    font-style: italic;
}
section.books img{
    height: 400px;
    padding-top: 50px;
    width: 100%;
}
.books .soderjanie{
    padding-bottom: 50px;
    background-color: LightCyan;
    vertical-align: middle;
}
.books h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.books a{
    color: indigo;
}
.books a:hover{
    color: orange;
}

/*Люди*/
section.people{
    background: PapayaWhip;
    padding: 120 0;
    text-align: center;
}
.people h2{
    font-size: 25px;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    padding-top: 50px;
    font-style: italic;
}
section.people img{
    height: 400px;
    padding-top: 50px;
    width: 100%;
}
.people .soderjanie{
    padding-bottom: 50px;
    background-color: PapayaWhip;
    vertical-align: middle;
}
.people h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.people a{
    color: indigo;
}
.people a:hover{
    color: orange;
}

/*Контакты*/
section.contact{
    background: LightGray;
    padding: 120 0;
    text-align: center;
}
.contact h2{
    font-size: 25px;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    padding-top: 72px;
    font-style: italic;
}
.contact p{
    font-size: 20px;
    line-height: 25px;
    color: black;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 20px;
}


.contact1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 850px;
    margin: 0 auto;
}
.contact1 input[type="text"], input[type="email"]{
    width: calc(50%-16px);
    margin-bottom: 25px;
    background: Silver;
    color: black;
    border-radius: 3px;
    border: none;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact textarea{
    width: 100%;
    margin-bottom: 40px;
    background: Silver;
    color: black;
    border-radius: 3px;
    border: none;
    padding-left: 20px;
    height: 200px;
    line-height: 55px;
    font-size: 18px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.submit{
    width: 100%;
    text-align: center;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-size: 18px;
}
input::-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 19+ */
    color: black;
    font-size: 18px;
}
input:-ms-input-placeholder, textarea::-webkit-input-placeholder { /* IE 10+ */
    color: black;
    font-size: 18px;
}
input:-moz-placeholder, textarea::-webkit-input-placeholder { /* Firefox 18- */
    color: black;
    font-size: 18px;
}
.contact1 input[type="submit"]{
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    background: rgb(98, 107, 112);
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0,02em;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    transition: background 300ms ease-in-out;
    margin-bottom: 40px;
    border: 0;
}
.contact1 input[type="submit"]:hover{
    transition: background 300ms ease-in-out;
    background: midnightblue;
}
.contact h2:hover{
    color: midnightblue;
}
.contact p:hover{
    color: midnightblue;
}

/*Footer*/
.footer{
    min-height: 80px;
    background: silver;
}
.social{
    font-size: 24px;
    letter-spacing: 0,02em;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: midnightblue;
}
footer.footer ul{
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    align-items: center;
}